#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial;
  overflow: hidden;
}

.chart{
  position: relative;
  top: -30%;
  width: 75vw;
  height: 25vh;
  opacity: 0%;
  transition: all 1s ease;
}

.chart.active{
  opacity: 100%;
  transition: all 2s ease;
}

.droparea {
  position: absolute;
  pointer-events: auto;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 100%;
  height: 15%;
  border: 4px dashed rgb(184, 184, 184);
  border-radius: 15px;
  transition: all .5s ease;
  opacity: 100%;
  top: 60%;
}

.droparea.active {
  pointer-events: none;
  opacity: 0%;
  transition: all 2s ease;
}

.droparea i {
  font-size: 3rem;
  flex-grow: 1;
  padding-top: 1rem;
}

.green-border {
  border-color: black;
}

.newFile{
  pointer-events: none;
  position: absolute;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem;
  height: fit-content;
  max-width: 100%;
  right: 1%;
  bottom: 1%;

  font-size: 100%;

  opacity: 0%;
  border: 4px solid black;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.newFile.active{
  pointer-events: auto;
  transition: all 2s ease;
  opacity: 100%;
}

.newFile.active:hover{
  transition: all 0.5s ease;
  opacity: 50%;
}

.progressContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: fit-content;
  height: 30%;
  opacity: 100%;
  right: -50%;
  top: 0%;
  mix-blend-mode: normal;
}

.progressContainer.disabled{
  opacity: 0%;
  pointer-events: none;
  transition: all 500ms ease-in-out;
}

.progress {
  position: absolute;
  background: rgb(53, 53, 53);
  border-radius: 10px;
  width: 25vw;
  height: 1vh;
  z-index: 100;
  opacity: 100%;
  transition: all 500ms ease-in-out;
}

.progress__fill{
  width: 80%;
  height: 100%;
  background: rgb(220, 220, 220);
  border-radius: 10px;
  opacity: 100%;
  transition: all 250ms ease-in-out;
}

.center{
	position: inherit;
	top: 50%;
	left: 50%;
  
	transform: translate(-50%, 50%);
}

.box{
  width: 2vw;
  height: 2vw;

  opacity: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1vw 0px 1vw 2vw;
  border-color: transparent transparent transparent black;
  transition: all 100ms ease-in-out;
}
.pause{
  border-style: double;
  border-width:0px 0px 0px 2vw;
}

.box:hover{
  opacity: 50%;
  transition: all 100ms ease-in-out;
}

.arrow{
  position: inherit;
  top: -10%;
  opacity: 100%;
  size: 1;

  border: solid black;
  border-width: 0 0.3vw 0.3vw 0;
  display: inline-block;
  padding: 0.3vw;
  transition: all 100ms ease-in-out;
}

.arrow:hover{
  size: 2;
  opacity: 50%;
  transition: all 100ms ease-in-out;
}

.right {
  right: -5%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  left: -5%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.boxContainer{
  position: relative;
  width: 100%;
  height: 500%;
  top: -200%;
}

.slidecontainer{
  position: relative;
  width: 40%;
  top: 30%;
  font-family: Arial;
}
.timelineSlider{
  position: relative;
  width: 40%;
  top: 30%;
  font-family: Arial;
}
.slider {
  direction: rtl;
  position: inherit;
  right: 1%;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  color: white;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: all .2s;
}
.slider:hover {
  opacity: 0.5;
  transition: all .2s;
}
.speedLabel{
  position: absolute;
  width: fit-content;
  top: 80%;
  left: 68%;
  opacity: 0%;

  font-size: 1.15vw;

  color: rgb(219, 219, 219);
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.slider:hover ~ .speedLabel{
  opacity: 100%;
  transition: all .2s;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    border-radius: 25px;
    -webkit-appearance: none;
    background-color: rgb(75, 75, 75);
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: rgb(220, 220, 220);
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 110%;
    cursor: ew-resize;
    background: rgb(0, 0, 0);
    box-shadow: -1000px 0 0 1000px rgb(220, 220, 220);;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
background-color: rgb(220, 220, 220);
}
input[type="range"]::-moz-range-track {  
background-color: rgb(75, 75, 75);
}
input[type="range"]::-moz-range-track {  
background-color: rgb(75, 75, 75);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
background-color: rgb(220, 220, 220);
}
input[type="range"]::-ms-fill-upper {  
background-color: rgb(75, 75, 75);
}

.frameNumber{
  position: inherit;
  top: 125%;
  right: 0%;

  font-size: 1.15vw;

  color: rgb(219, 219, 219);
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
.introGif{
  position: inherit;
  pointer-events: none;
  width: 125%;
  bottom: 120%;
}
