#app {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

html,
body {
  overflow-x: hidden;
  user-select: none;
}

body {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  margin: 0%;
  right: 0%;

  transition: all 0.5s ease-in-out;

  background: radial-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-size: 50px 50px;
}

.container{
  left: 0%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
}

.content-area{
  position: relative;
  flex-grow:1;
  max-width: 100%;
}

.sidebar{
  position: relative;
  width: 0%;
  height: 100%;
  background-color: white;
  outline: solid 0px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
  flex-flow: column nowrap;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
}

.sidebar .scrollContainer{
  width: 100%;
  height: 10%;
}

.sidebar .sidebarTitle{
  user-select: none;
  height: fit-content;
  
  padding: 5%;
  font-size: 0%;
  text-align: left;
  outline: solid 0px rgba(0, 0, 0, 1);
  font-weight: bold;

  background-color: rgba(0, 0, 0, 0.1);

  transition: all 0.5s ease-in-out;
}

.sidebar.active .sidebarTitle{
  font-size: 150%;
  outline: solid 1px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
}

.sidebarTitle .symbol{
  float: right;
  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}

.symbol:hover{
  opacity: 50%;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}

.sidebar.active{
  width: 15%;
  outline: solid 2px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
}

.openSidebarIcon{
  left: 0%;
  top: 0%;
  width: fit-content;
  margin-left: 0.5rem;
  padding: 0rem;
  font-size: 200%;
  opacity: 0%;

  pointer-events: none;
  cursor: pointer;

  z-index: 500;
  transition: all 0.25s ease-in-out;
}
.openSidebarIcon.active{
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.openSidebarIcon:hover{
  opacity: 50%;
  transition: all 0.25s ease-in-out;
}

.landing {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: -1%;
  left: 0%;
  margin: 0%;
  opacity: 0%;
  transition: all 0.25s ease-in-out;
}

.landing.active {
  opacity: 100%;
  pointer-events: auto;
  transition: all 0.25s ease-in-out;
}

.landing h1 {
  position: inherit;
  top: 0%;
  left: 0%;
  text-align: justify;
  font-size: 10vw;
  margin: 1%;
}

.landing img {
  position: absolute;
  width: calc(50vh + 50vw);
  right: calc(0vh - 10vw);
  bottom: calc(50vh - 25vw);
}

.landing .landingNav {
  position: absolute;
  width: 75vw;
  height: 75vh;
  bottom: 0%;
  left: 0%;
  margin: 2% 1%;

  flex-direction: column-reverse;

  display: flex;
  align-items: flex-start;
}
.landingNav div,
label {
  font-size: 5vw;
  margin: 1%;
  background-color: white;
  border-style: solid;
  padding: 0.5rem;

  transition: all 0.25s ease-in-out;
}

.landingNav div:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 0.25s ease-in-out;
}
.landingNav label:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 0.25s ease-in-out;
}

.landingNav input[type="file"] {
  display: none;
  width: 100%;
  height: 100%;
}

.chartCard {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 90%;
  top: 7.5%;
  object-fit: cover;
  /* right: 0%; */

  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-template-rows: auto;
  justify-content: left;
  opacity: 100%;
}

.chartCard.active {
  opacity: 100%;
  pointer-events: auto;
}

.chartBox {
  position: absolute;
  pointer-events: none;
  width: 95%;
  height: 100%;
  max-height: 75%;
  justify-self: center;
  align-self: center;
  /* transform: scale(0); */

  border: solid 2px rgba(0, 0, 0, 1);
  background: white;
  opacity: 0%;
  fill: white;
  z-index: 0;
}

.chartBox.active {
  pointer-events: auto;
  position: relative;
  /* transform: scale(1); */
  opacity: 100%;
  transition: all 0.25s ease-in-out;

  z-index: 99;
}

.chart {
  top: -30%;
  width: 75vw;
  height: 25vh;
  opacity: 0%;
  transition: all 0.25s ease-in-out;
}

.chart.active {
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.plugInDevice {
  position: absolute;
  /* pointer-events: none; */
  margin: 1rem auto;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  border: 4px solid rgb(75, 75, 75);
  color: rgb(75, 75, 75);

  border-radius: 15px;
  transition: all 0.25s ease-in-out;
  opacity: 100%;
  top: 100%;
}

.plugInDevice.active {
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.plugInDevice:hover {
  opacity: 50%;
  transition: all 0.25s ease-in-out;
}

.droparea {
  position: absolute;
  pointer-events: auto;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 100%;
  height: 15%;
  border: 4px dashed rgb(75, 75, 75);
  color: rgb(75, 75, 75);
  border-radius: 15px;
  transition: all 0.25s ease-in-out;
  opacity: 100%;
  top: 60%;
}

.droparea.active {
  pointer-events: none;
  opacity: 0%;
  transition: all 0.25s ease-in-out;
}

.droparea i {
  font-size: 3rem;
  flex-grow: 1;
  padding-top: 1rem;
}

.-border {
  border-color: rgb(185, 185, 185);
}

.newFile {
  pointer-events: none;
  position: absolute;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem;
  height: fit-content;
  max-width: 100%;
  right: 0%;
  bottom: 0%;

  font-size: 100%;

  opacity: 0%;
  border: 2px solid black;
  color: black;
  transition: all 0.25s ease-in-out;
}

.newFile.active {
  pointer-events: auto;
  transition: all 0.25s ease-in-out;
  opacity: 100%;
}

.newFile.active:hover {
  background: rgb(0, 0, 0);
  color: white;
  transition: all 0.25s ease-in-out;
}

.modeContainer {
  position: absolute;
  pointer-events: none;
  left: 0%;
  bottom: 102.5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
  align-items: left;

  width: fit-content;
  height: fit-content;
}

.modeContainer > .dataMode {
  /* position: absolute; */
  margin: 0.1rem;
  width: fit-content;
  height: fit-content;
  max-width: 100%;
  padding: 0.5rem;
  left: 0%;
  bottom: 0%;

  font-size: 1.75vw;
  color: rgb(0, 0, 0);

  pointer-events: none;
  opacity: 0%;
  border: 2px solid rgb(0, 0, 0);
  /* border-radius: 15px; */
  transition: all 0.25s ease-in-out;
}

.modeContainer select{
  pointer-events: auto;

  font-family: "Inter", sans-serif;
}

.dataMode.active:hover {
  cursor: pointer;
  opacity: 100%;
  background: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease;
}

.dataMode.selected {
  background: rgb(0, 0, 0);
  color: white;
  transition: all 0.25s ease-in-out;
}
.dataMode.selected:hover {
  cursor: pointer;
  opacity: 100%;
  background: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease;
}
.dataMode.active {
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 50%;
  height: fit-content;
  opacity: 100%;
  right: -50%;
  top: 0%;
  mix-blend-mode: normal;
}

.progressContainer.disabled {
  opacity: 0%;
  pointer-events: none;
  transition: all 500ms ease-in-out;
}

.progress {
  position: absolute;
  background: rgb(53, 53, 53);
  border-radius: 10px;
  width: 25vw;
  height: 1vh;
  z-index: 100;
  opacity: 100%;
  top: 0%;
  transform: translate(0%, 150%);
  transition: all 500ms ease-in-out;
}

.progress__fill {
  width: 80%;
  height: 100%;
  background: rgb(220, 220, 220);
  border-radius: 10px;
  opacity: 100%;
  transition: all 250ms ease-in-out;
}

.center {
  position: inherit;
  bottom: 0%;
  left: 50%;

  transform: translate(-50%, 50%);
}

.box {
  width: 2vw;
  height: 2vw;

  top: 150%;
  opacity: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1vw 0px 1vw 2vw;
  border-color: transparent transparent transparent black;
  transition: all 100ms ease-in-out;
}
.pause {
  border-style: double;
  border-width: 0px 0px 0px 2vw;
}

.box:hover {
  opacity: 50%;
  transition: all 100ms ease-in-out;
}

.arrow {
  position: inherit;
  top: 25%;
  opacity: 0%;
  size: 1;

  border: solid black;
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.3vw;
  transition: all 100ms ease-in-out;
}

.arrow.active{
  opacity: 100%;
  transition: all 100ms ease-in-out;
}

.arrow.active:hover {
  size: 2;
  opacity: 50%;
  transition: all 100ms ease-in-out;
}

.right {
  right: -5%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  left: -5%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.boxContainer {
  position: absolute;
  transform: translate(-50%, 150%);
  bottom: 0%;
  left: 50%;

  width: 25%;
  height: 5%;

  /* outline: solid black; */
}

.timelineContainer {
  position: absolute;
  /* pointer-events: none; */
  width: 100%;
  height: 40%;
  opacity: 0%;
  transition: all 250ms ease-in-out;
}
.timelineContainer.active {
  opacity: 100%;
  pointer-events: all;
  transition: all 250ms ease-in-out;
}
.resolutioncontainer {
  position: absolute;
  opacity: 0%;
  width: 100%;
}
.resolutioncontainer.active {
  position: relative;
  display: block;
  opacity: 100%;
  margin: 0.5vh;
  transition: all 0.25s ease-in-out;
}
.timelineSlider {
  position: relative;
  width: 40%;
  top: 30%;
}
.slider {
  direction: ltr;
  position: inherit;
  right: 1%;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  color: white;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.25s; /* 0.2 seconds transition on hover */
  transition: all 0.25s;
}
.slider:hover {
  opacity: 1;
  transition: all 0.2s;
}
.speedLabel {
  position: absolute;
  width: fit-content;
  top: 80%;
  left: 68%;
  opacity: 0%;

  font-size: 1.15vw;

  color: rgb(219, 219, 219);
  font-family: "Inter", sans-serif;
}
.slider:hover ~ .speedLabel {
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: -0.5%;
    top: 50%;

    border-radius: 25px;
    -webkit-appearance: none;
    background-color: rgb(75, 75, 75);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: rgb(220, 220, 220);
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 110%;
    cursor: ew-resize;
    background: rgb(0, 0, 0);
    box-shadow: -1000px 0 0 1000px rgb(220, 220, 220);
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: rgb(220, 220, 220);
}
input[type="range"]::-moz-range-track {
  background-color: rgb(75, 75, 75);
}
input[type="range"]::-moz-range-track {
  background-color: rgb(75, 75, 75);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgb(220, 220, 220);
}
input[type="range"]::-ms-fill-upper {
  background-color: rgb(75, 75, 75);
}

.frameNumber {
  position: absolute;
  pointer-events: none;
  top: 100%;
  right: 0%;

  font-size: 1.25vw;

  color: black;
}
.introGif {
  position: inherit;
  pointer-events: none;
  width: 125%;
  bottom: 120%;
}

.checkBoxContainer {
  position: absolute;
  width: 10%;
  height: 10%;
  right: -10%;
  bottom: 60%;
}

.recordContainer{
  margin: 0.1rem;
  height: 1.25vw;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
  align-items: left;

  background-color: white;

  border: 2px solid rgb(0, 0, 0);
  transition: all 0.25s ease-in-out;
}

.recordContainer:hover{
  color: white;
  background-color: rgb(65, 65, 65);
  transition: all 0.25s ease-in-out;
}

.record {
  position: relative;
  pointer-events: none;
  width: 1.25vw;
  height: 1.25vw;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 35px;
  /* margin: 1vw; */
  margin: 0.25rem;
  outline: none;
  align-self: center;

  opacity: 0%;
  transition: all 0.25s ease-in-out;
}

.record.active {
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.record.active.recording {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0.3);
  }
  90% {
    box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
  }
}

.recordingText {
  text-align: center;
  align-self: center;

  margin: 0.25rem;

  color: black;
  font-size: 1.25vw;
  width: fit-content;
  height: fit-content;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.recordingText.active {
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.recordContainer:hover .recordingText{
  color: white;
}

.canvas {
  border: 1px solid rgb(255, 255, 255);
}

h2 {
  pointer-events: none;
  position: absolute;
  text-align: center;
  bottom: 2.5%;
}

.duplicateScreen {
  pointer-events: none;
  position: absolute;
  justify-self: center;
  align-self: center;
  background-color: white;
  opacity: 0%;

  outline: 0.5vh solid red;

  height: 30vw;
  width: 30vw;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.duplicateScreen.active {
  position: relative;
  opacity: 100%;
  pointer-events: auto;
  transition: ease-in-out 0.25s;
}

.duplicateScreen div {
  margin: 1%;
  font-size: 2vw;
  color: blue;
  text-align: justify;
}

.duplicateScreen .batchNmb {
  position: absolute;
  right: 0%;
  text-align: end;
  outline: 0.5vh solid red;
  margin: 0%;
  width: fit-content;
  height: fit-content;
}

.duplicateScreen .recording {
  position: absolute;
  pointer-events: none;
  bottom: 0%;
  right: 0%;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: red;
  border: 0;
  border-radius: 35px;
  margin: 1vw;
  outline: none;

  transition: all 0.25s ease-in-out;
}

.duplicateScreen .recording.pause {
  color: black;
  background-color: white;
  border-radius: 0px;
  right: 0%;
  width: 5px;
  height: 30px;

  border-style: double;
  border-width: 0px 0px 0px 3vh;
}

.controlSidebar {
  position: absolute;
  bottom: 0%;
  left: 0%;
  /* transform: translate(-50%, 0%); */
  background-color: white;
  margin: 1% 1%;
  z-index:99;

  pointer-events: none;
  opacity: 0%;

  resize: both;
  overflow-x: hidden;
  overflow-y: hidden;

  display: grid;
  grid-template-columns: minmax(1px, 1fr) minmax(1px, 1fr) minmax(1px, 1.5fr) minmax(1px, 1fr);
  grid-template-rows: minmax(0.4fr, 1fr) minmax(1px, 1fr);

  outline: solid 2px rgba(0, 0, 0, 1);
  height: 15%;
  width: 35%;

  max-height: 30%;
  min-height: 15%;
  max-width: 50.5%;
  min-width: 20rem;
}

.controlSidebar.active {
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25 ease-in-out;
}
.controlSidebar h1 {
  user-select: none;
  margin: 0%;
  padding: 2.5%;
  bottom: 0%;
  font-size: 125%;
  text-align: left;
  outline: solid 1px rgba(0, 0, 0, 1);
}

.controlSidebarheader
{
  z-index:99;
  cursor: move;
  position: absolute;
  width: 100%;
  height: 15%;
  color: black;
  background-color: bla;
}

.sidebar .batchGrid {
  outline: solid 0px rgba(0, 0, 0, 1);
}

.sidebar.active .batchGrid {
  outline: solid 1px rgba(0, 0, 0, 1);
}

.batchGrid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  outline: solid 1px rgba(0, 0, 0, 1);
  overflow: auto;
  overflow-x: hidden;

  align-content: flex-start;
  justify-content: flex-start;
}

.batchGrid div {
  display: inline-block;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: auto;
  font-size: 100%;
  padding: 8%;
  cursor: pointer;
  outline: solid 1px rgba(0, 0, 0, 1);

  color: black;

  pointer-events: none;
  opacity: 50%;
}

.sidebar .batchGrid div {
  padding: 2%;
}

.sidebar.active .batchGrid div.active {
  pointer-events: auto;
  opacity: 100%;
}

.controlSidebar.active .batchGrid div.active {
  pointer-events: auto;
  opacity: 100%;
}
.batchGrid div.active:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}
.batchGrid div.selected {
  background-color: black;
  color: white;
  transition: all 0.25s ease-in-out;
  outline: solid 1px rgba(255, 255, 255, 1);
}
.batchGrid div.selected:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}
.batchGrid div i{
  pointer-events: auto;
  cursor: default;
  left: 2.5%;
  font-size: 100%;
}

.downloadSidebar {
  position: absolute;
  bottom: 0%;
  right: 0%;
  /* transform: translate(-50%, 0%); */
  background-color: white;
  margin: 1% 1%;
  z-index:99;

  pointer-events: none;
  opacity: 0%;

  resize: both;
  overflow-x: hidden;
  overflow-y: hidden;

  display: grid;
  grid-template-columns: minmax(1px, 1fr);
  grid-template-rows: minmax(1px, 0.3fr) minmax(1px, 1fr);

  outline: solid 2px rgba(0, 0, 0, 1);
  height: 15%;
  width: 10%;

  max-height: 30%;
  min-height: 15%;
  max-width: 20%;
  min-width: 10rem;
}
.downloadSidebar.active {
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25 ease-in-out;
}
.downloadSidebar h1 {
  user-select: none;
  margin: 0%;
  padding: 2.5%;
  bottom: 0%;
  font-size: 125%;
  text-align: left;
  outline: solid 1px rgba(0, 0, 0, 1);
}
.downloadSidebar input {
  user-select: none;
  margin: 0%;
  padding: 2.5%;
  bottom: 0%;
  font-size: 125%;
  text-align: left;
  outline: solid 1px rgba(0, 0, 0, 1);
  font-family: "Inter", sans-serif;
}
.downloadSidebar i {
  position: absolute;
  text-align: center;
  padding: 2.5%;
  right: 0%;
}
.downloadSidebar i:hover {
  opacity: 50%;
  cursor: pointer;
}

.downloadSidebar_header{
  z-index:99;
  cursor: move;
  position: absolute;
  width: 80%;
  height: 15%;
  color: black;
  background-color: bla;
}

.userInputContainer i {
  position: relative;
  text-align: center;
  right: 0%;
  top: 0%;
}

.downloadSidebar.active .batchGrid div.active {
  pointer-events: auto;
  opacity: 100%;
}
.downloadSidebar .batchGrid div.active:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}
.downloadSidebar .batchGrid
{
  position: relative;
}
.downloadSidebar .batchGrid div i{
  position:absolute;
  z-index:200;
  text-align: left;
  pointer-events: auto;
  cursor: default;
  left: 0%;
  font-size: 200%;
  opacity: 0%;
}

.downloadSidebar .batchGrid:hover div i{
  opacity: 100%;
}

/* .batchGrid .indices{
  display: grid;
  grid-template-columns: minmax(1px, 1fr) minmax(1px, 4fr);
  grid-template-rows: auto;

  width: 100%;
  height: fit-content;
  text-align: center;
  justify-items: center;
  margin: auto;
  font-size: 100%;
  padding: 5%;
  cursor: pointer;
  outline: solid 1px rgba(0, 0, 0, 1);
}

.batchGrid .indices i{
  pointer-events: auto;
  cursor: default;
  align-self: center;
  font-size: 125%;
  opacity: 100%;
}
.batchGrid .indices i:hover{
  opacity: 50%;
}
.batchGrid .indices div{
  align-self: center;
  outline: none;
  height: fit-content;
  width: fit-content;
} */

.extraInfo {
  display: flex;
  justify-content: start;
  flex-direction: column;

  font-family: "Inter", sans-serif;

  outline: solid 1px rgba(0, 0, 0, 1);
  overflow: auto;
}
.extraInfo div {
  font-size: 100%;
  font-weight: bold;
  align-self: flex-start;
  margin: 2%;
}

.sidebar .extraInfo {
  outline: solid 1px rgba(0, 0, 0, 0);
}

.sidebar.active .extraInfo {
  outline: solid 1px rgba(0, 0, 0, 1);
}

.userInputContainer{
  display: flex;
  flex-flow: column nowrap;
  outline: solid 1px rgba(0, 0, 0, 1);
  font-size: 80%;
  justify-content: space-evenly;
  overflow-x: hidden;
}
.userInputContainer input{
  width: 100%;
  height: 20%;
  outline: solid 1px rgba(0, 0, 0, 1);
  background-color: rgb(235, 235, 235);
}
.sidebar input{
  opacity: 0%;
  outline: solid 0px rgba(0, 0, 0, 1);
}
.sidebar.active input{
  height: 2.5%;
  outline: solid 1px rgba(0, 0, 0, 1);
  background-color: rgb(235, 235, 235);
  opacity: 100%;
}

.userInputContainer .batchGrid div{
  padding: 5%;
}

.chartBox .editContainer{
  pointer-events: none;
}
.chartBox.active .editContainer{
  pointer-events: auto;
}

.editContainer {
  position: absolute;
  right: 0%;
  top: 102.5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
  align-items: left;

  width: fit-content;
  height: fit-content;
  opacity: 100%;
}

.editContainer.disable{
  pointer-events: none;
  opacity: 0%;
}

.editContainer.leftSided{
  left: 0%;
  top: 102.5%;
}

.editContainer input{
  height: 1vw;
  width: 2.25vw;
  z-index: 99;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.editIcon {
  margin: 0.1rem;
  height: 1.25vw;
  width: 1.25vw;
  padding: 0.5rem;
  left: 0%;
  bottom: 0%;

  color: rgb(0, 0, 0);
  opacity: 100%;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.25s ease-in-out;
}

.editIcon:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}

/* .editIcon.active{
  pointer-events: all;
  opacity: 100%;
} */

.editIcon.selected{
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all 0.25s ease-in-out;
}
.editIcon.selected:hover{
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}

.editIcon.disabled{
  opacity: 50%;
  pointer-events: none;
}

.editIcon i{
  position: absolute;
  text-align: center;
  font-size: 1.25vw;
}

/* DOUBLE SLIDER */
[slider] {
  pointer-events: none;
  opacity: 0%;
  position: absolute;
  height: 14px;
  width: 100%;
  top: 25%;
  border-radius: 10px;
  text-align: left;
}

[slider].active {
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

[slider] > div {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  width: 50%;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: rgb(70, 70, 70);
}

[slider] > div > [inverse-right] {
  position: absolute;
  width: 50%;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: rgb(70, 70, 70);
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: rgb(220, 220, 220);
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 14px;
  text-align: left;
  margin-left: -7px;
  pointer-events: none;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: white;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: none;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider].active > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -14px;
  top: 30px;
  z-index:3;
  background-color: rgb(70, 70, 70);
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;

  transition: ease-in-out opacity 0.25s;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  top: 19px;
  border-top-style: solid;
  border-top-color: rgb(70, 70, 70);
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
  transition: ease-in-out opacity 0.25s;
}

[slider] .modeContainer{
  top: 200%;
  gap: 2.5%;
  pointer-events: none;
}

[slider] .modeContainer.active{
  pointer-events: auto;
}

.trimButton{
  top: 200%;
  right: 0%;
  margin: 0.1rem;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;

  font-size: 1vw;
  outline: solid 2px rgba(0, 0, 0, 1);
}

.modeContainer .trimButton:hover{
  cursor: pointer;
  opacity: 100%;
  background: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease;
}

.fav_batch{
  position: absolute;
  cursor: pointer;
  z-index: 200;
  right: 0%;
  top: 0%;
  padding: 0.75%;
  opacity: 100%;
}

.fav_batch .selected{
  opacity: 50%;
}

.helpContainer{
  position: absolute;
  height: 40%;
  width: 30%;
  top: 9%;
  right: 4.5%;

  outline: solid 2px rgba(0, 0, 0, 1);
  background-color: white;
  z-index: 300;
  flex-direction: column;

  display: flex;
  grid-template-columns: auto;
  grid-template-rows: auto;
  
  pointer-events: none;
  opacity: 0%;

  overflow: auto;
  resize: both;

  min-width: 25%;
  max-width: 75%;
  min-height: 25%;
  max-height: 90%;
}

.helpContainer.active{
  pointer-events: auto;
  opacity: 100%;
}

.helpContainer h1{
  margin: 2%;
}

.helpHeader{
  cursor: move;
  height: fit-content;
  background-color: rgb(225, 225, 225);
}
.helpScroll{
  overflow: auto;
}

.ac-label {
  font-size: 200%;
  font-weight: 700;
  position: relative;
  padding: .5em;
  margin-bottom: .5em;
  display: block;
  cursor: pointer;
  background-color: whiteSmoke;
  transition: background-color .15s ease-in-out;
}
.ac-input:checked + label, .ac-label:hover {
  background-color: #999;
}
.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  background-color: #e5e5e5;
  transition: background-color .15s ease-in-out;
}
.ac-label:hover:after, .ac-input:checked + .ac-label:after {
  background-color: #b5b5b5;
}
.ac-input:checked + .ac-label:after {
  content: "-";
}
.ac-input {
  display: none;
}
.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}
.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
  opacity: 1;
  height: auto;
}
.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  font-size: 150%;
  padding: .5em 2em;
  margin-bottom: 0;
}
.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}
.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}
.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}
.ac-sub-text {
  padding: 0 1em 0 2em;
  user-select: text;
}

.disclaimer{
  position: absolute;
  right: 0%;
  bottom: 0%;
  margin: 0.5%;
  font-family: "Inter", sans-serif;
}

.close-icon
{
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 99;
  width: fit-content;
  outline: solid 2px rgba(0, 0, 0, 1);
  font-size: 100%;
  background-color: white;

  padding: .25em 0.5em;
  margin-bottom: 0;
  transition: all 0.25s ease-in-out;
}
.close-icon:hover{
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}

.tutorial-wrap{
  position: absolute;
  height: fit-content;
  width: 32%;
  /* transform: translate(-50%, -50%); */
  top: 250px;
  left: 20%;
  filter: drop-shadow(0px 0px 50px #000000);

  z-index: 1000;

  pointer-events: auto;
  transition: all 0.5s ease-in-out;
}

.tutorial-wrap{
  position: absolute;
  height: fit-content;
  width: 32%;
  /* transform: translate(-50%, -50%); */
  top: 250px;
  left: 17.5%;
  filter: drop-shadow(0px 0px 50px #000000);

  z-index: 1000;

  opacity: 0%;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

.tutorial-wrap.active{
  opacity: 100%;
  pointer-events: auto;
  transition: all 0.5s ease-in-out;
}

.tutorial-instructions{
  width: fit-content;
  height: fit-content;
  background-color: white;

  user-select: none;
  margin: 0%;
  padding: 2.5%;
  bottom: 0%;
  font-size: 125%;
  text-align: left;
  border: solid 1px rgba(0, 0, 0, 1);
}

.tut-button-wrapper{
  display: flex;
  height: 5%;
  width: 100%;
}

.tutorial-button{
  justify-content: center;
  align-items: center;

  width: fit-content;
  padding: 1vh;

  border: solid 1px rgba(0, 0, 0, 1);
  color: rgb(75, 75, 75);
  background-color: white;

  opacity: 100%;
  transition: all 0.25s ease-in-out;

  pointer-events: auto;
}

.tutorial-button.disabled{
  pointer-events: none;
  opacity: 75%;
  transition: all 0.25s ease-in-out;
}

.tutorial-button:hover{
  color: white;
  background-color: black;
  transition: all 0.25s ease-in-out;
}

.highlight{
  position: absolute;
  pointer-events: none;
  --b: 5px;   /* thickness of the border */
  --c: white;   /* color of the border */
  --w: 20px;  /* width of border */
  

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg,var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background:
    conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
    conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
  
  /*Irrelevant code*/  
  width:25%;
  height:10vh;
  box-sizing:border-box;
  display:inline-flex;
  font-size:30px;
  justify-content:center;
  align-items:center;
  text-align:center;
  opacity: 0%;

  color: black;

  mix-blend-mode: exclusion;

  top: 85%;
  left: 58%;
  transform: translate(-50%, -50%); 
  z-index: 5000;
  transition: all .5s;
}
.highlight.active{
  opacity: 100%;
  animation-name: highlightFlicker;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
}
@keyframes highlightFlicker {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
